@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">PHARMACY MANAGEMENT SYSTEM</h1>
</div>

<div class="text-center">
    <br />
<br /><br />
<br />
    <h3>Automate the Point of sales in a Pharmacy</h3>
    <p>By Nitish ML</p>
    <p>BCA (DU)</p>
</div>
